{% extends "base.html" %}
{% load static %}


<div class="widget">
   {% block content %}
   {% if messages %}
   {% for message in messages %}
   {% if message.tags == 'warning' %}
   <!-- sweetalert js -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
      var m = "{{ message }}";
      Swal.fire({
         text: m,
         imageHeight: 30,
         width:"25em",
         icon: "error",
         showConfirmButton: false,
         timer:"3000",
      });
      // Swal.stopTimer(500)
   </script>
      {% endif %}
      {% endfor %}
      {% endif %}
   <div class="container-fluid" style="background-color: rgb(255, 255, 255); padding-bottom: inherit;">
         <div class="widget">
         <div class="widget-header">
            <h2>Role Master </h2>

         </div>
         <div class="widget-content padding">
            <div class="text-right padding-bottom-10">
         
               <a href="{% url 'rolerights:role_add' %}"> 
               <button type="button" class="btn btn-success">
               <i class="fa fa-plus-circle"></i> Add </button></a>
            </div>
            <form action="." class="form-horizontal">
               <div class="widget-content padding">
                  
         
         
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Role Name</label>
                     <div class="col-sm-4">
                        <select name='rolename'  id='form.rolename' class="fld-subtype form-control" >
                           <option value="">All</option>
                           {% for b in bgg %}
                           <option value="{{ b.rolename }}">{{ b.rolename }}</option>
                           
                           {% endfor %}
                        </select>
                        </div>
         
         
                  </div>
         
               </div>
         
         
         
         
         
               <div class="text-center padding-bottom-20">
                  <button type="submit" class="btn btn-success">Search</button>
                  <button type="Reset" class="btn btn-default">Reset</button>
         
               
               
               </div>
            </form>
            {% if ba %}
            <h3>
               Found {{ ba|length }} result 
            </h3>
            <p><a href="">Search again</a></p>
         
            <div class="table-responsive">
               <table class="table table-bordered table-striped" id="delbtn">
                  <tr>
            
                     <th>Role Name</th>
                     <th>Role Code</th>
                     <th>Role Description</th>
                     <th>Status</th>
                     <th>Edit</th>
               
                  </tr>
         
                  
                  {% for b in ba %}
                  <tr>
         
                     <td>{{ b.rolename  }}</td>
                     <td>{{ b.rolecode  }}</td>
                     <td>{{ b.roledesc  }}</td>
                     <td>{{ b.status  }}</td>
                     <td><a data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-warning btn-sm" href="{% url 'rolerights:role_edit' b.id %}" >
                        <i class="fa fa-edit"></i>
                        </a>
                     </td>
            
                  </tr>
                  {% empty %}
                  <h1>Not found</h1>
                  {% endfor %}
               </table>
            </div>
         
         
         
         
            {% endif %} 
            {% endblock %}      
         </div>
         </div>
      </div>
   
   </div>