
{% extends "base.html" %}


{% block content %}



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div>
  <button type="button" onclick="history.back()" class="btn btn-primary me-1 " style="float: left;">Back</button>
</div>
<div class="container-fluid" style="background-color: rgb(255, 255, 255); padding-bottom: inherit;" style="height: 1000px;">
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header" style="font-size: large;">Avg Internal Marks</div>
                <div class="card-body">
                <h5 class="card-title" style="color: aliceblue;font-size: 25px;">{{ int }}</h5>
                <p class="card-text">Marks</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header" style="font-size: large;">Avg External Marks</div>
                <div class="card-body">
                <h5 class="card-title" style="color: aliceblue;font-size: 25px;" >{{ ext }}</h5>
                <p class="card-text">Marks</p>
                </div>
            </div>
        </div>
        
    

    <div>
        {{ bar|safe }}
    </div>
    <div>
        {{ bar1|safe }}
    </div>
    <div id="chart"></div>
    <!-- <script>
        var options = {
          series: [{
          name: 'PRODUCT A',
          data: [44, 55, 41, 67, 22, 43]
        }, {
          name: 'PRODUCT B',
          data: [13, 23, 20, 8, 13, 27]
        }, {
          name: 'PRODUCT C',
          data: [11, 17, 15, 15, 21, 14]
        }, {
          name: 'PRODUCT D',
          data: [21, 7, 25, 13, 22, 8]
        }],
          chart: {
          type: 'bar',
          height: 350,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          },
        },
        xaxis: {
          type: 'datetime',
          categories: ['01/01/2011 GMT', '01/02/2011 GMT', '01/03/2011 GMT', '01/04/2011 GMT',
            '01/05/2011 GMT', '01/06/2011 GMT'
          ],
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      

    </script> -->
    <!-- <div class="row">
        <div >
            <div class="" style="height: auto; width: auto">
                {%load plotly_dash%}

                {% plotly_app name='SimpleExample' ratio=2 %}
                
            </div>
        </div>
        </div> -->

 {% endblock %}      